parameters:
    checkGenericClassInNonGenericObjectType: false

    paths:
        - src

    level: 8

    ignoreErrors:
        # exists behind class_exists() check
        - '#Call to method getTags\(\) on an unknown class Nette\\Bridges\\CacheLatte\\CacheExtension#'
