services:
    - Barista\LatteParser\LatteParser
    - Barista\Analyzer\LatteAnalyzer
    - Barista\NodeTraverser\LatteNodeTraverser

    - Latte\Compiler\TemplateParser
    - Latte\Compiler\TemplateLexer
    - Latte\Compiler\NodeTraverser
