# autodiscovery, see https://doc.nette.org/en/dependency-injection/configuration#toc-search
search:
    in: src
    exclude:
        classes:
            - Barista\DI\BaristaContainerFactory

services:
    - Latte\Compiler\TemplateParser
    - Latte\Compiler\TemplateLexer
    - Latte\Compiler\NodeTraverser

    - Symplify\SmartFileSystem\FileSystemFilter

    # console
    -
        class: Symfony\Component\Console\Application
        factory: [@Barista\Console\ApplicationFactory, 'create']
